<!-- Curriculum Vitae -->
<div class="w3-container w3-card w3-white w3-margin-bottom" id="cv" style="margin-top:75px">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-user fa-fw
        w3-margin-right w3-xxlarge w3-text-teal"></i>Curriculum Vitae</h2>
  <div class="w3-container">
    <h5 class="w3-opacity"><b>PhD Candidate / SAP SE</b></h5>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw
        w3-margin-right"></i>Nov 2017 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
    <ul>
      <li>Study of adaptive replication on the basis of real-world ERP database
        trace.
    </ul>
    <hr>
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity"><b>Internship / SAP SE</b></h5>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw
        w3-margin-right"></i>Nov 2016 - Nov 2017</h6>
    <ul>
      <li>Analysis of the network usage of a distributed database.
      <li>Implemented request tracing into the distributed database.
    </ul>
    <hr>
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity"><b>PhD Candidate / TU Berlin</b></h5>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw
        w3-margin-right"></i>Dec 2014 - Nov 2016</h6>
    <ul>
      <li>Alumni of the <a href="https://softwarecampus.de/en/">Software
    Campus</a> programme.
      <li>Teaching Assistant for the course fundamentals of programming in C
        (~800 students).
        <li>Research assistant in the <a
            href="http://www.bbdc.berlin/home/">Berlin Big Data Center
            (BBDC)</a> with focus on
        improving the performance of Apache Flink in widely distributed scenarios.
    </ul>
    <hr>
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity"><b>Master / EIT</b></h5>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw
        w3-margin-right"></i>Oct 2012 - Oct 2014</h6>
    <ul>
      <li>Master thesis on translating router configurations between devices at
        Cisco (previously Tail-f).
      <li>First year at TU Berlin, second year at KTH in Stockholm.
    </ul>
    <hr>
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity"><b>Bachelor / Netherlands</b></h5>
    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw
        w3-margin-right"></i>Sep 2007 - July 2011</h6>
    <hr>
  </div>
    <ul>
      <li>Bachelor thesis on modelling movement patterns of a slime mold (an
        acelluar organism).
      <li>First two years at RU (Nijmegen), last two years at UvA (Amsterdam).
    </ul>
    <hr>
</div>

<div class="w3-container w3-card w3-white w3-margin-bottom" id="cv" style="margin-top:75px">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw
    w3-margin-right w3-xxlarge w3-text-teal"></i>Skills</h2>
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <p>Python, Pandas, Matplotlib, ...</p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
      </div>
    </div>

    <div class="w3-third w3-container w3-margin-bottom">
      <p>Flink, Spark</p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">80%</div>
      </div>
    </div>

    <div class="w3-third w3-container w3-margin-bottom">
      <p>Machine Learning</p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:20%">20%</div>
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <p>Java, Scala, Go</p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal"
          style="width:50%">50%</div>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <p>C, C++</p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal"
          style="width:25%">25%</div>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <p>Linux, Networking</p>
      <div class="w3-light-grey w3-round-xlarge w3-small">
        <div class="w3-container w3-center w3-round-xlarge w3-teal"
          style="width:75%">75%</div>
      </div>
    </div>
  </div>
