<!-- Research -->
<div class="w3-container w3-card w3-white w3-margin-bottom" id="research" style="margin-top:75px">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flask fa-fw
      w3-margin-right w3-xxlarge w3-text-teal"></i>My Research</h2>


<ul class="publications">
  <li><b>Streaming Democratized: Ease Across the Latency Spectrum with Delayed View Semantics and Snowflake Dynamic Tables</b><br>
    <i>Authors:</i> Daniel Sotolongo, Daniel Mills, Tyler Akidau, Anirudh Santhiar, Attila-Péter Tóth, Ilaria Battiston, Ankur Sharma, Botong Huang, Boyuan Zhang, Dzmitry Pauliukevich, Enrico Sartorello, Igor Belianski, Ivan Kalev, Lawrence Benson, Leon Papke, Ling Geng, Matt Uhlar, Nikhil Shah, Niklas Semmler, Olivia Zhou, Saras Nowak, Sasha Lionheart, Till Merker, Vlad Lifliand, Wendy Grus, Yi Huang, Yiwen Zhu<br>
    <i>Conference:</i> SIGMOD 2025<br>
    <a href="https://arxiv.org/abs/2504.10438">
      <i class="fa fa-link"> arXiv</i>
    </a>
  <li><b>Continuous Data Ingestion and Transformation in Snowflake</b><br>
    <i>Authors:</i> Tyler Akidau, Fabian Hueske, Konstantinos Kloudas, Leon Papke, Niklas Semmler, Jan Sommerfeld<br>
    <i>Conference:</i> DEBS 2024<br>
    <a href="https://dl.acm.org/doi/abs/10.1145/3629104.3672430">
      <i class="fa fa-link"> ACM</i>
    </a>
  <li><b>What’s the diﬀerence?</b><br>
    <i>Authors:</i> Tyler Akidau, Paul Barbier, Istvan Cseri, Fabian Hueske, Tyler Jones, Sasha Lionheart, Daniel Mills, Dzmitry Pauliukevich, Lukas Probst, Niklas Semmler, Dan Sotolongo, Boyuan Zhang<br>
    <i>Conference:</i> SIGMOD 2023<br>
    <a href="https://dl.acm.org/doi/abs/10.1145/3589776">
      <i class="fa fa-link"> ACM</i>
    </a>
  <li><b>Edge Replication Strategies for Wide-Area Distributed Processing</b><br>
    <i>Authors:</i> Niklas Semmler, Matthias Rost, Georgios Smaragdakis, Anja Feldmann<br>
    <i>Conference:</i> Edgesys 2020<br>
    <a href="http://inet.tu-berlin.de/~nsemmler/media/edge_replication_edgesys2020.pdf">
      <i class="fa fa-file-pdf-o"> Download PDF</i>
    </a>
    <a
      href="http://inet.tu-berlin.de/~nsemmler/media/edge_replication_edgesys2020_slides.pdf">
      <i class="fa fa-file-pdf-o"> Download Slides</i>
    </a>
  <li><b>Online replication strategies for distributed data stores</b><br>
    <i>Authors:</i> Niklas Semmler, Georgios Smaragdakis, Anja Feldmann<br>
    <i>Conference:</i> Open Journal of Internet Of Things<br>
    <a href="/assets/files/nsemmler_2019_vliot.pdf">
      <i class="fa fa-file-pdf-o"> Download PDF</i>
    </a>
  <li><b>Distributed Mega-Datasets: The Need for Novel Computing
      Primitives</b><br>
    <i>Authors:</i> Niklas Semmler, Georgios Smaragdakis, Anja Feldmann<br>
    <i>Conference:</i> 2019 IEEE 39th International Conference on Distributed Computing Systems</br>
    <a href="/assets/files/nsemmler_2019_icdcs.pdf">
      <i class="fa fa-file-pdf-o"> Download PDF</i>
    </a>
  <li><b>PaDIS emulator: an emulator to evaluate CDN-ISP collaboration</b><br>
    <i>Authors:</i> Ingmar Poese, Benjamin Frank, Simon Knight, Niklas Semmler,
    Georgios Smaragdakis<br>
    <i>Conference:</i> Proceedings of the ACM SIGCOMM 2012<br>
    <a href="/assets/files/nsemmler_2012_sigcomm.pdf">
      <i class="fa fa-file-pdf-o"> Download PDF</i>
    </a>
</ul>

<div class="auto-resizable-iframe">
  <div>
<iframe top="0" left="0" width="100%" height="100%"
  src="https://www.youtube.com/embed/61Uzu5vETsM" frameborder="0"
  allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
  </div>
</div>
<br>
<div class="auto-resizable-iframe">
  <div>
<iframe top="0" left="0" width="100%" height="100%"
  src="https://www.youtube.com/embed/ZiW9jMFYj-4" frameborder="0"
  allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
  </div>
</div>
<br>

</div>
