<!-- Research -->
<div class="w3-container w3-card w3-white w3-margin-bottom" id="research" style="margin-top:75px">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flask fa-fw
      w3-margin-right w3-xxlarge w3-text-teal"></i>My Research</h2>

<div class="auto-resizable-iframe">
  <div>
<iframe top="0" left="0" width="100%" height="100%"
  src="https://www.youtube.com/embed/ZiW9jMFYj-4" frameborder="0"
  allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>
  </div>
</div>
<br>


<ul class="publications">
  <li><b>Online replication strategies for distributed data stores</b><br>
    <i>Authors:</i> Niklas Semmler, Georgios Smaragdakis, Anja Feldmann<br>
    <i>Conference:</i> Open Journal of Internet Of Things<br>
    <a href="/assets/files/nsemmler_2019_vliot.pdf">
      <i class="fa fa-file-pdf-o"> Download PDF</i>
    </a>
  <li><b>Distributed Mega-Datasets: The Need for Novel Computing
      Primitives</b><br>
    <i>Authors:</i> Niklas Semmler, Georgios Smaragdakis, Anja Feldmann<br>
    <i>Conference:</i> 2019 IEEE 39th International Conference on Distributed Computing Systems</br>
    <a href="/assets/files/nsemmler_2019_icdcs.pdf">
      <i class="fa fa-file-pdf-o"> Download PDF</i>
    </a>
  <li><b>PaDIS emulator: an emulator to evaluate CDN-ISP collaboration</b><br>
    <i>Authors:</i> Ingmar Poese, Benjamin Frank, Simon Knight, Niklas Semmler,
    Georgios Smaragdakis<br>
    <i>Conference:</i> Proceedings of the ACM SIGCOMM 2012<br>
    <a href="/assets/files/nsemmler_2012_sigcomm.pdf">
      <i class="fa fa-file-pdf-o"> Download PDF</i>
    </a>
</ul>
</div>
